@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Murat</h1>
    <p>githubvfl den eklendi</p>

    <p>githubvfl ilk branch</p>

    <p>fikri</p>
    <p>fikri2</p>
</div>
